div{
    height: 200px;	
    width: 300px;	
    border: 3px solid;	
    margin-bottom: 30px;	
    margin-top: 30px;	
    position: relative;	
}

.cyan{	
    background-color: cyan;	
}    
.yellow{		
    background-color: yellow;
}

